<section id="main">
  
  <div style="height: 50px">
    {{ message }}
  </div>
  

  <div class="panel panel-default">
    <div class="panel-heading">DEMO Metric Table</div>
    <table class="table">
      <thead>
        <tr>
            <th>Iteration #</th>
            <th>Bugs Found</th>
            <th># of Reopens</th>
            <th># of Features</th>
            <th>*Extra Hrs</th>
            <th>*QA Score</th>
            <th># of Days</th>
            <th></th>
        </tr>
      </thead>
    <tfoot>
        <tr ng-model="averages">
            <td>Avg</td>
            <td> {{ averages.bugsFound | number: 0 }}</td>
            <td> {{ averages.reopens | number: 0 }}</td>
            <td> {{ averages.features | number: 0 }}</td>
            <td> {{ averages.extraHrs | number: 0}}</td>
            <td> {{ averages.qaScore | number:2 }}</td>
            <td> {{ averages.days | number: 0 }}</td>
            <td></td>
        </tr>
    </tfoot>
        <tr ng-repeat="iteration in iterations">
            <td>{{ iteration.iterationId }}</td>
            <td>{{ iteration.bugs }}</td>
            <td>{{ iteration.reopens }}</td>
            <td>{{ iteration.features }}</td>
            <td>{{ iteration.extraHrs }}</td>
            <td>{{ iteration.qaScore | number:2 }}</td>
            <td>{{ iteration.days }}</td>
            <td><button ng-click="deleteIteration($index)"><i class="glyphicon glyphicon-trash"></i></button></td>
        </tr>
    </table>
  </div>
  <div class="panel panel-default" id="panel1">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne" 
           href="">
          Add an Iteration
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <form name="iterationForm" ng-submit="addIteration()">
          <div class="row">
            <div class="col-sm-4" style="padding-bottom: 20px">
              <div class="input-group">
                <span class="input-group-addon">
                  <div style="width:65px">
                    Start Date
                  </div>
                </span>
                <input type="text" name="startD" class="form-control" datepicker-popup="{{format}}" ng-model="iteration.startDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-4" style="padding-bottom: 20px">
              <div class="input-group">
                <span class="input-group-addon">
                  <div style="width:65px">
                   End Date
                  </div>
                </span>

                <input type="text" class="form-control" name="endD" datepicker-popup="{{format}}" ng-model="iteration.endDate" is-open="opened2" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-model="dateSubmit" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-4" style="padding-bottom: 20px">
              <button class="btn"  ng-disabled="{{iterationForm.endD.$error.pattern}}" style="width: 120px;">
                Submit
              </button><!-- /input-group -->
            </div>
          </div><!-- /.row -->
        </form>
      </div>
    </div>
  </div>

</section>