<br/>
<br/>

<h1>Login</h1>
<form class="navbar-form" ng-submit="login()">
    <div class="form-group">
        <input type="text" placeholder="company.atlassian.net" class="form-control" ng-model="user.domain">
    </div>
    <div class="form-group">
        <input type="text" placeholder="username" class="form-control" ng-model="user.username">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Password" class="form-control" ng-model="user.password">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>